.login-page-container {
    background: var(--bgcolor1);
    height: 100vh;
    width: 100vw;
}

.login-form-container {
    background: var(--bgcolor5);
    width: 35vw;
    height: 70vh;
    border-radius: 10px;
}

.login-label {
    font-size: 36px;
}

.login-input-fields {
    width: 100%;
    height: 100%;
}

.login-input-fields input {
    font-size: 18px;
    padding: 10px 10px 10px 20px;
    background: var(--bgcolor3);
    color: #000;
    border: none;
    border-radius: 10px;
    width: 25vw;
    font-size: 16px;
}

.login-input-fields input:nth-child(1) {
    border-radius: 10px;
    width: 25vw;
}

.login-see-password {
    background: var(--bgcolor3);
    padding: 5px;
    border: none;
    width: 3vw;
    border-radius: 10px;
    right: 5px;
}

.login-see-password-active {
    background: var(--bgcolor2);
    padding: 5px;
    border: none;
    width: 3vw;
    border-radius: 10px;
    right: 5px;
}

.see-password:hover {
    background: var(--bgcolor2);
}

.login-button {
    width: 10vw;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--bgcolor2);
}

.login-button:hover {
    background: var(--bgcolor4);
}

.login-p {
    font-size: 14px;
}