.register-page-container {
    background: var(--bgcolor1);
    height: 100vh;
    width: 100vw;
}

.register-form-container {
    background: var(--bgcolor5);
    width: 35vw;
    height: 80vh;
    border-radius: 15px;
}

.register-label {
    font-size: 36px;
}

.register-form-container input, select {
    font-size: 18px;
    padding: 10px 10px 10px 20px;
    background: var(--bgcolor3);
    color: #000;
    border: none;
    border-radius: 15px 15px 15px 15px;
    width: 25vw;
    font-size: 16px;
}

.register-form-container select {
    width: 25vw;
}

.register-input-fields {
    height: 100%;
}

.register-see-password {
    background: var(--bgcolor3);
    padding: 5px;
    border: none;
    width: 3vw;
    border-radius: 15px;
    right: 5px;
}

.register-see-password-active {
    background: var(--bgcolor2);
    padding: 5px;
    border: none;
    width: 3vw;
    border-radius: 15px;
    right: 5px;
}

.register-see-password:hover {
    background: var(--bgcolor4);
}

.register-button {
    width: 10vw;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--bgcolor2);
}

.register-button:hover {
    background: var(--bgcolor4);
}

.register-p {
    font-size: 14px;
}